In [3]:
import numpy as np 
import pandas as pd

In [5]:
df = pd.read_csv('tips.csv')

In [7]:
df.head()

,StudentName,RollId,RegistrationId,StudentEmail,Gender,Department,Section,Series,DOB,FatherName,MotherName,Contact,Status
0,Rahul Debnath,2010001,1055,2010001@student.ruet.ac.bd,Male,ECE,A,2020,1995-03-03,Test,Test,01912153465,1
1,Humayra Tasnim Adiba,2010002,1056,2010002@student.ruet.ac.bd,Female,ECE,A,2020,1994-02-02,Test,Test,01912153465,1
2,Mahin Ahsan,2010003,1057,2010003@student.ruet.ac.bd,Male,ECE,A,2020,1993-08-06,Test,Test,01912153465,1
3,Kamrul Islam,2010004,1058,2010004@student.ruet.ac.bd,Male,ECE,A,2020,1992-02-03,Test,Test,01912153465,1
4,Maysha Iyasmin,2010005,1059,2010005@student.ruet.ac.bd,Female,ECE,A,2020,1991-02-03,Test,Test,01912153465,1

In [12]:
df[' RegistrationId'] < '1060'

0     True
1     True
2     True
3     True
4     True
      ...
56    True
57    True
58    True
59    True
60    True
Name:  RegistrationId, Length: 61, dtype: bool

In [14]:
bool_series = df[' RegistrationId'] < '1060'

In [16]:
df[bool_series]

,StudentName,RollId,RegistrationId,StudentEmail,Gender,Department,Section,Series,DOB,FatherName,MotherName,Contact,Status
0,Rahul Debnath,2010001,1055,2010001@student.ruet.ac.bd,Male,ECE,A,2020,1995-03-03,Test,Test,01912153465,1
1,Humayra Tasnim Adiba,2010002,1056,2010002@student.ruet.ac.bd,Female,ECE,A,2020,1994-02-02,Test,Test,01912153465,1
2,Mahin Ahsan,2010003,1057,2010003@student.ruet.ac.bd,Male,ECE,A,2020,1993-08-06,Test,Test,01912153465,1
3,Kamrul Islam,2010004,1058,2010004@student.ruet.ac.bd,Male,ECE,A,2020,1992-02-03,Test,Test,01912153465,1
4,Maysha Iyasmin,2010005,1059,2010005@student.ruet.ac.bd,Female,ECE,A,2020,1991-02-03,Test,Test,01912153465,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Brayden Wright,2010057,'1111','2010057@student.ruet.ac.bd','Male','ECE','A',2020,'1993-12-02','Test','Test','01912153465',1
57,Sofia Lopez,2010058,'1112','2010058@student.ruet.ac.bd','Female','ECE','A',2020,'1992-03-16','Test','Test','01912153465',1
58,Zachary Harris,2010059,'1113','2010059@student.ruet.ac.bd','Male','ECE','A',2020,'1991-06-29','Test','Test','01912153465',1
59,Avery Martinez,2010060,'1114','2010060@student.ruet.ac.bd','Female','ECE','A',2020,'1990-09-01','Test','Test','01912153465',1
60,Isaac Thompson,2010061,'1115','2010061@student.ruet.ac.bd','Male','ECE','A',2020,'1995-12-15','Test','Test','01912153465',1

In [17]:
df[(df['total_bill'] > 30) & (df['sex'] == "Male")]

KeyError: 'total_bill'

In [19]:
options = ['Sat','Sun']

In [20]:
df['day'].isin(options)

KeyError: 'day'