In [2]:
import numpy as np 
import pandas as pd

In [4]:
def last_four(num):
    return str(num)[-4:]

In [49]:
df = pd.read_csv('tips.csv')

In [6]:
last_four(123456789)

'6789'

In [50]:
df['last_four'] = df['RollId'].apply(last_four)

In [51]:
df

,StudentName,RollId,RegistrationId,StudentEmail,Gender,Department,Section,Series,DOB,FatherName,MotherName,Contact,Status,last_four
0,Rahul Debnath,2010001,1055,2010001@student.ruet.ac.bd,Male,ECE,A,2020,1995-03-03,Test,Test,1912153465,1,0001
1,Humayra Tasnim Adiba,2010002,1056,2010002@student.ruet.ac.bd,Female,ECE,A,2020,1994-02-02,Test,Test,1912153465,1,0002
2,Mahin Ahsan,2010003,1057,2010003@student.ruet.ac.bd,Male,ECE,A,2020,1993-08-06,Test,Test,1912153465,1,0003
3,Kamrul Islam,2010004,1058,2010004@student.ruet.ac.bd,Male,ECE,A,2020,1992-02-03,Test,Test,1912153465,1,0004
4,Maysha Iyasmin,2010005,1059,2010005@student.ruet.ac.bd,Female,ECE,A,2020,1991-02-03,Test,Test,1912153465,1,0005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Brayden Wright,2010057,1111,2010057@student.ruet.ac.bd,Male,ECE,A,2020,1993-12-02,Test,Test,1912153465,1,0057
57,Sofia Lopez,2010058,1112,2010058@student.ruet.ac.bd,Female,ECE,A,2020,1992-03-16,Test,Test,1912153465,1,0058
58,Zachary Harris,2010059,1113,2010059@student.ruet.ac.bd,Male,ECE,A,2020,1991-06-29,Test,Test,1912153465,1,0059
59,AveryMartinez,2010060,1114,2010060@student.ruet.ac.bd,Female,ECE,A,2020,1990-09-01,Test,Test,1912153465,1,0060
60,Isaac Thompson,2010061,1115,2010061@student.ruet.ac.bd,Male,ECE,A,2020,1995-12-15,Test,Test,1912153465,1,0061

In [13]:
lambda num: num*2

In [52]:
df['RollId'].apply(lambda num : num*2)

0     4020002
1     4020004
2     4020006
3     4020008
4     4020010
       ...
56    4020114
57    4020116
58    4020118
59    4020120
60    4020122
Name: RollId, Length: 61, dtype: int64

In [17]:
def quality(total_bill,tip):
    if tip/total_bill > 0.25:
        return "Generous"
    else:
        return "Other"

In [19]:
quality(16.99,1.01)

'Other'

In [ ]:
df['Quality'] = df[['total_bill','tip']].apply(lambda df: quality(df['total_bill'],df['tip']),axis=1)

In [ ]:
df['Quality'] = np.vectorize(quality)(df['total_bill'],df['tip'])

In [21]:
import timeit

In [53]:
df = pd.read_csv('tips.csv')

In [54]:
df.describe()

             RollId  RegistrationId  Series       Contact  Status
count  6.100000e+01       61.000000    61.0  6.100000e+01    61.0
mean   2.010031e+06     1085.000000  2020.0  1.912153e+09     1.0
std    1.775293e+01       17.752934     0.0  0.000000e+00     0.0
min    2.010001e+06     1055.000000  2020.0  1.912153e+09     1.0
25%    2.010016e+06     1070.000000  2020.0  1.912153e+09     1.0
50%    2.010031e+06     1085.000000  2020.0  1.912153e+09     1.0
75%    2.010046e+06     1100.000000  2020.0  1.912153e+09     1.0
max    2.010061e+06     1115.000000  2020.0  1.912153e+09     1.0

In [55]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
RollId,61.0,2.010031e+06,17.752934,2.010001e+06,2.010016e+06,2.010031e+06,2.010046e+06,2.010061e+06
RegistrationId,61.0,1.085000e+03,17.752934,1.055000e+03,1.070000e+03,1.085000e+03,1.100000e+03,1.115000e+03
Series,61.0,2.020000e+03,0.000000,2.020000e+03,2.020000e+03,2.020000e+03,2.020000e+03,2.020000e+03
Contact,61.0,1.912153e+09,0.000000,1.912153e+09,1.912153e+09,1.912153e+09,1.912153e+09,1.912153e+09
Status,61.0,1.000000e+00,0.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [56]:
df.sort_values('RollId', ascending=False)

,StudentName,RollId,RegistrationId,StudentEmail,Gender,Department,Section,Series,DOB,FatherName,MotherName,Contact,Status
60,Isaac Thompson,2010061,1115,2010061@student.ruet.ac.bd,Male,ECE,A,2020,1995-12-15,Test,Test,1912153465,1
59,AveryMartinez,2010060,1114,2010060@student.ruet.ac.bd,Female,ECE,A,2020,1990-09-01,Test,Test,1912153465,1
58,Zachary Harris,2010059,1113,2010059@student.ruet.ac.bd,Male,ECE,A,2020,1991-06-29,Test,Test,1912153465,1
57,Sofia Lopez,2010058,1112,2010058@student.ruet.ac.bd,Female,ECE,A,2020,1992-03-16,Test,Test,1912153465,1
56,Brayden Wright,2010057,1111,2010057@student.ruet.ac.bd,Male,ECE,A,2020,1993-12-02,Test,Test,1912153465,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,Maysha Iyasmin,2010005,1059,2010005@student.ruet.ac.bd,Female,ECE,A,2020,1991-02-03,Test,Test,1912153465,1
3,Kamrul Islam,2010004,1058,2010004@student.ruet.ac.bd,Male,ECE,A,2020,1992-02-03,Test,Test,1912153465,1
2,Mahin Ahsan,2010003,1057,2010003@student.ruet.ac.bd,Male,ECE,A,2020,1993-08-06,Test,Test,1912153465,1
1,Humayra Tasnim Adiba,2010002,1056,2010002@student.ruet.ac.bd,Female,ECE,A,2020,1994-02-02,Test,Test,1912153465,1
0,Rahul Debnath,2010001,1055,2010001@student.ruet.ac.bd,Male,ECE,A,2020,1995-03-03,Test,Test,1912153465,1

In [57]:
df.sort_values(['RollId', 'StudentName'])

,StudentName,RollId,RegistrationId,StudentEmail,Gender,Department,Section,Series,DOB,FatherName,MotherName,Contact,Status
0,Rahul Debnath,2010001,1055,2010001@student.ruet.ac.bd,Male,ECE,A,2020,1995-03-03,Test,Test,1912153465,1
1,Humayra Tasnim Adiba,2010002,1056,2010002@student.ruet.ac.bd,Female,ECE,A,2020,1994-02-02,Test,Test,1912153465,1
2,Mahin Ahsan,2010003,1057,2010003@student.ruet.ac.bd,Male,ECE,A,2020,1993-08-06,Test,Test,1912153465,1
3,Kamrul Islam,2010004,1058,2010004@student.ruet.ac.bd,Male,ECE,A,2020,1992-02-03,Test,Test,1912153465,1
4,Maysha Iyasmin,2010005,1059,2010005@student.ruet.ac.bd,Female,ECE,A,2020,1991-02-03,Test,Test,1912153465,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Brayden Wright,2010057,1111,2010057@student.ruet.ac.bd,Male,ECE,A,2020,1993-12-02,Test,Test,1912153465,1
57,Sofia Lopez,2010058,1112,2010058@student.ruet.ac.bd,Female,ECE,A,2020,1992-03-16,Test,Test,1912153465,1
58,Zachary Harris,2010059,1113,2010059@student.ruet.ac.bd,Male,ECE,A,2020,1991-06-29,Test,Test,1912153465,1
59,AveryMartinez,2010060,1114,2010060@student.ruet.ac.bd,Female,ECE,A,2020,1990-09-01,Test,Test,1912153465,1
60,Isaac Thompson,2010061,1115,2010061@student.ruet.ac.bd,Male,ECE,A,2020,1995-12-15,Test,Test,1912153465,1

In [58]:
df['RollId'].max()

np.int64(2010061)

In [59]:
df['RollId'].idxmax()

60

In [60]:
df.iloc[60]

StudentName                   Isaac Thompson
RollId                               2010061
RegistrationId                          1115
StudentEmail      2010061@student.ruet.ac.bd
Gender                                  Male
Department                               ECE
Section                                    A
Series                                  2020
DOB                               1995-12-15
FatherName                              Test
MotherName                              Test
Contact                           1912153465
Status                                     1
Name: 60, dtype: object

In [61]:
df.corr()

ValueError: could not convert string to float: 'Rahul Debnath'

In [63]:
df.head()

,StudentName,RollId,RegistrationId,StudentEmail,Gender,Department,Section,Series,DOB,FatherName,MotherName,Contact,Status
0,Rahul Debnath,2010001,1055,2010001@student.ruet.ac.bd,Male,ECE,A,2020,1995-03-03,Test,Test,1912153465,1
1,Humayra Tasnim Adiba,2010002,1056,2010002@student.ruet.ac.bd,Female,ECE,A,2020,1994-02-02,Test,Test,1912153465,1
2,Mahin Ahsan,2010003,1057,2010003@student.ruet.ac.bd,Male,ECE,A,2020,1993-08-06,Test,Test,1912153465,1
3,Kamrul Islam,2010004,1058,2010004@student.ruet.ac.bd,Male,ECE,A,2020,1992-02-03,Test,Test,1912153465,1
4,Maysha Iyasmin,2010005,1059,2010005@student.ruet.ac.bd,Female,ECE,A,2020,1991-02-03,Test,Test,1912153465,1

In [65]:
df['Gender'].value_counts()

Gender
Male      34
Female    27
Name: count, dtype: int64

In [67]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
56    False
57    False
58    False
59    False
60    False
Length: 61, dtype: bool

In [73]:
sample_df = pd.DataFrame([1,2,2,2],['a','b','c','d'])

In [74]:
sample_df

   0
a  1
b  2
c  2
d  2

In [76]:
sample_df.duplicated()

a    False
b    False
c     True
d     True
dtype: bool

In [78]:
sample_df.drop_duplicates()

   0
a  1
b  2

In [80]:
df.nlargest(2,'tip')

KeyError: 'tip'

In [82]:
df.sort_values('tip', ascending=False).iloc[0:2]

KeyError: 'tip'

In [84]:
df.nsmallest(2,'tip')

KeyError: 'tip'

In [86]:
df.sample(5)

,StudentName,RollId,RegistrationId,StudentEmail,Gender,Department,Section,Series,DOB,FatherName,MotherName,Contact,Status
58,Zachary Harris,2010059,1113,2010059@student.ruet.ac.bd,Male,ECE,A,2020,1991-06-29,Test,Test,1912153465,1
14,Iyasin Arafat,2010015,1069,2010015@student.ruet.ac.bd,Male,ECE,A,2020,1993-02-14,Test,Test,1912153465,1
9,Samira Khan,2010010,1064,2010010@student.ruet.ac.bd,Female,ECE,A,2020,1992-01-22,Test,Test,1912153465,1
25,Ashley Hill,2010026,1080,2010026@student.ruet.ac.bd,Female,ECE,A,2020,1994-12-15,Test,Test,1912153465,1
11,Sajid Rahman,2010012,1066,2010012@student.ruet.ac.bd,Male,ECE,A,2020,1990-05-27,Test,Test,1912153465,1